@import "~font-awesome/css/font-awesome.css";

@import "~bulma/sass/utilities/initial-variables";

$turquoise: rgb(80, 202, 221);
$blue: rgb(56, 121, 239);
$green: rgb(145, 218, 8);
$yellow: rgb(216, 207, 84);
$red: rgb(239, 0, 88);
$orange: rgb(251, 168, 82);
$white-ter: rgb(238, 238, 222);
$grey-darker: rgb(66, 66, 66);

@import "~bulma";

@font-face {
  font-family: "DejaVuSansMono";
  src: url("~dejavu-fonts-ttf/ttf/DejaVuSansMono.ttf") format("truetype");
}

.app-hero {
  &.app-hero-real {
    position: fixed;
    display: block;
    width: 100%;
  }

  .hero-body {
    padding: 1.5rem 0.75rem;

    @include desktop {
      padding: 3rem 1.5rem;
    }
  }
}

.app-greeting {
  & {
    font-size: 1rem !important;

    font-family: "DejaVuSansMono", Courier, monospace;
    white-space: pre;
    height: 6em;

    @include desktop {
      font-size: 2rem !important;
    }
  }

  .cursor {
    background-color: $white,
  }
}

.app-nav {
  & {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $white;
  }

  .tabs {
    margin-bottom: 0px;
  }

  .gradient {
    position: absolute;
    width: 100%;
    height: 60px;
    background: linear-gradient(
     to bottom,
     rgba(255,255,255,1.0) 0%,
     rgba(255,255,255,0.99) 10%,
     rgba(255,255,255,0.96) 20%,
     rgba(255,255,255,0.04) 80%,
     rgba(255,255,255,0.01) 90%,
     rgba(255,255,255,0.0) 100%
    );
  }
}

.app-body {
  & {
    background-color: $white;
    position: relative;
  }
}

.app-experience {
  .app-title {
    .title, .subtitle {
      text-align: center;
    }

    .subtitle {
      font-family: "DejaVuSansMono", Courier, monospace;
    }
  }

  .app-technologies {
    & {
      text-align: center;
      margin: 48px;
    }

    img {
      height: 144px;
      padding: 32px;
    }
  }

  .app-preferences {
    & {
      text-align: center;
    }

    .preference {
      & {
        @extend .content;

        text-align: left;
        display: inline-block;
        width: 280px;
        margin: 0 40px;
      }

      h3 {
        font-family: "DejaVuSansMono", Courier, monospace;
        text-align: center;
      }
    }
  }

  .app-links {
    & {
      text-align: center;
      margin: 32px;
    }

    .button {
      & {
        margin: 16px;
        font-family: "DejaVuSansMono", Courier, monospace;
      }
    }
  }
}
